<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colourPicker.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>colourPickerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,302},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>colourPickerOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,222},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>colourPickerShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>huePickerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>menuCircleWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menuColourPanelBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{348,332}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{348,332}}</string>
                <key>sourceSize</key>
                <string>{360,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CCControlColourPickerSpriteSheet-hd.png</string>
            <key>size</key>
            <string>{960,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da818cbe6a5ade6d444cfeb45af83569$</string>
            <key>textureFileName</key>
            <string>CCControlColourPickerSpriteSheet-hd.png</string>
        </dict>
    </dict>
</plist>
